<div class="center-container">
    <div class="form-container">
        <h1>User Form 😄</h1>
        <form class="user-form">
            <label for="userName">Name:</label>
            <input type="text" id="userName" [(ngModel)]="userName" name="userName" />

            <label for="userEmail">Email:</label>
            <input type="text" id="userEmail" [(ngModel)]="userEmail" name="userEmail" />

            <label for="userAddress">Address:</label>
            <textarea id="userAddress" [(ngModel)]="userAddress" name="userAddress"></textarea>
        </form>
    </div>
</div>
